# OS
Icon
.DS_Store

# VS Code
higgs.code-workspace

# Composer
composer.lock
vendor/

# npm
node_modules/
/site/plugins/*/node_modules

# Parcel cache folder
/.cache
/site/plugins/*/.cache

# Composer files
/site/plugins/*/vendor

# Kirby
kirby/
content/**/.lock
public/media
storage/*/
